*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}



main {
  background-color: #3E2A34;
  color: #FFFFFF;
  width: 100%;
}
/*////header////*/


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: flex-end;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
}

.logo {
  height: 45px;
}

fieldset {
  border: none;
  margin: 0;
  padding:0;
}

legend {
  display: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer; 
  padding: 0;
}

.search {
  width: 35%
}

.search-input {
  border-radius: 5px;
  border: 2px solid #C1B2B4;
  font-size: 18px;
  height: 40px;
  padding: 10px;
  position: relative;
  width: 87%;
}

.search-btn {
  background-color: #C1B2B4;
  border: 2px solid #C1B2B4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFFFFF;
  height: 40px;
  position: relative;
  right: 8px;
  width: 10%;
}

.mag {
  font-size: 20px;
  padding: 2px;
}

.add-foto {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 38px;
}

.cap-input,
.title-input {
  width: 100%;
  height: 40px;
}

.label {
  margin: 10px 0;
  font-weight: normal;
  color: #C1B2B4;
  font-size: inherit;
}

.form-btn {
  background-color: #5B4447;
  color: inherit;
  padding: 15px;
  margin-top: 38px;
}

.choose {
  width: 100%;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.show-favs-btn,
.add-btn {
  width: 45%;
}



