*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}



main {
  background-color: #3E2A34;
  color: #FFFFFF;
  width: 100%;
}
/*////header////*/


header {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: flex-end;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4px;
}

.logo {
  height: 45px;
}

fieldset {
  border: none;
  margin: 0;
  padding:0;
}

legend {
  display: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer; 
  padding: 0;
}

.search {
  width: 37%
}

.search-input {
  border-radius: 5px;
  border: 2px solid #C1B2B4;
  font-size: 18px;
  height: 40px;
  padding: 10px;
  position: relative;
  width: 75%;
}

.search-btn {
  background-color: #C1B2B4;
  border: 2px solid #C1B2B4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFFFFF;
  height: 40px;
  position: relative;
  right: 8px;
  width: 15%;
}

.mag {
  font-size: 20px;
  padding: 2px 7px;
}


/*////FORM////*/

.add-foto {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 38px;
}

.cap-input,
.title-input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

.label {
  margin: 10px 0;
  font-weight: normal;
  color: #C1B2B4;
  font-size: inherit;
}

.form-btn {
  background-color: #5B4447;
  color: inherit;
  padding: 15px;
  margin-top: 38px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.view-favs-btn,
.add-btn {
  width: 45%;
}

.add-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.choose-container {
  width: 100%;
  height: 86px;
  display: flex;
  text-align: center;
}

.choose-container:hover {
}

.choose {
  cursor: pointer;
  width: 100%;
}

/*////PHOTO CARD////*/

h5 {
  color: #5B4447;
}

.gallery {
  background-color: #C1B2B4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 30px;
  width: 100%;
}

.card {
  border: 2px solid black;
  background-color: #FFFFFF;
  width: 23%;
  min-width: 200px;
  height: 350px;
  position: relative;
  margin: 15px;
}

.foto {
  width: 100%;
  max-height: 150px;
  object-fit: cover; 
}

.card-title,
.card-caption {
  margin-left: 10px;
}

.card-buttons {
  background-color: #5B4447;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-btn {
  background-color: #5B4447;
  color: #938284;
  height: 30px;
  width: 30px;
  /*padding: 15px;*/
}

.card-svg {
  height: 100%;
  width: 100%;
}

.heart-btn {
  float: right;
}

footer {
  display: flex;
}

.show-more {
  margin: 2rem auto;
  color: #FFFFFF;
}

